.overflow_fix
{
    white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}


.overview-table table {
  border-collapse:separate;
  outline: 1px solid #EAECF0;
  border-radius:10px;
  font-weight:400;
  color: #393939;
  width:100%;
}

.overview-table td,th{
  border-left:solid #EAECF0 1px;
  border-top:solid #EAECF0 1px;
  padding: 5px;
}

.overview-table th {
  border-top: none;
  text-align: start;
  font-weight:400;

}

.overview-table td:first-child, th:first-child {
   border-left: none;
}